In [ ]:
# Hashsets

s = set()
s.add("hi")
s.add (23)
print(s)

{'hi', 23}

In [ ]:
# Add item into Set - O(1)
s.add(1)
s.add(2)
s.add(3)

print(s)

{1, 2, 3}

In [ ]:
# Lookup if item in set - O(1)
if 1 not in s:
  print(True)

In [ ]:
# Remove item from set - O(1)
s.remove(3)

print(s)

{1, 2}

In [ ]:
# Set construction - O(S) - S is the length of the string
string = 'aaaaaaabbbbbbbbbbbccccccccceeeeeeeee'
sett = set(string)

sett

{'a', 'b', 'c', 'e'}

In [ ]:
# Loop over items in set - O(n)
for x in s:
  print(x)

1
2

In [ ]:
# Hashmaps - Dictionaries

d = {'greg': 1, 'steve': 2, 'rob': 3}

print(d)

{'greg': 1, 'steve': 2, 'rob': 3}

In [ ]:
# Add key:val in dictionary: O(1)
d['arsh'] = 4

print(d)

{'greg': 1, 'steve': 2, 'rob': 3, 'arsh': 4}

In [ ]:
# Check for presence of key in dictionary: O(1)
if 'greg' in d:
  print(True)

True

In [ ]:
# Check the value corresponding to a key in the dictionary: O(1)
print(d['greg'])

1

In [ ]:
# Loop over the key:val pairs of the dictionary: O(n)
for key, val in d.items():
  print(f'key {key}: val {val}')

key greg: val 1
key steve: val 2
key rob: val 3
key arsh: val 4

In [ ]:
# Defaultdict

from collections import defaultdict

default = defaultdict(list)

default[2]

[]

In [ ]:
default

defaultdict(list, {2: []})

In [ ]:
# Counter
from collections import Counter

counter = Counter(string)

print(counter)

Counter({'b': 11, 'c': 9, 'e': 9, 'a': 7})

# that is summery for all is up there

In [ ]:
# Create a hashset
my_set = set()

# Add elements
my_set.add("apple")
my_set.add("banana")
my_set.add("cherry")

# Check for membership
if "banana" in my_set:
  print("Banana is in the set")

# Remove an element
my_set.remove("banana")

# Iterate over the set
for item in my_set:
  print(item)

In [ ]:
# Create a hashmap
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Access values using keys
print(my_dict["name"])  # Output: Alice

# Add a new key-value pair
my_dict["occupation"] = "Engineer"

# Update an existing value
my_dict["age"] = 31

# Iterate over key-value pairs
for key, value in my_dict.items():
  print(f"{key}: {value}")

In [ ]:
from collections import defaultdict

# Create a defaultdict with default value as list
my_defaultdict = defaultdict(list)

# Add elements to a list associated with a key
my_defaultdict["fruits"].append("apple")
my_defaultdict["fruits"].append("banana")

# Accessing a missing key creates an empty list
print(my_defaultdict["vegetables"])  # Output: []

# this for countion teh numbers

In [17]:
from collections import Counter

# Create a Counter from a string
my_string = "abracadabra"
my_counter = Counter(my_string)

# Get the count of a specific element
print(my_counter["a"])  # Output: 5

# Get the most common elements
print(my_counter.most_common(2))  # Output: [('a', 5), ('b', 2)]

5
[('a', 5), ('b', 2)]

In [ ]:
from collections import defaultdict

my_string = "abracadabra"
my_defaultdict = defaultdict(int)  # Default value is 0

for char in my_string:
    my_defaultdict[char] += 1

print(my_defaultdict["a"])  # Output: 5

# Get the most common elements (similar to Counter.most_common)
sorted_items = sorted(my_defaultdict.items(), key=lambda item: item[1], reverse=True)
print(sorted_items[:2])  # Output: [('a', 5), ('b', 2)]

In [ ]:
my_string = "abracadabra"
my_dict = {}  # Regular dictionary

for char in my_string:
    my_dict[char] = my_dict.get(char, 0) + 1

print(my_dict["a"])  # Output: 5

# Get the most common elements (similar to Counter.most_common)
sorted_items = sorted(my_dict.items(), key=lambda item: item[1], reverse=True)
print(sorted_items[:2])  # Output: [('a', 5), ('b', 2)]